---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Image from "astro/components/Image.astro";
import Link from "@components/Link.astro";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          About 😉 
        </div>
        <ul class="animate not-prose flex flex-col gap-4 text-justify">
          <ul>
            <li>✔ <Link href="https://www.oubac.com/">O.U.Ba.C.</Link> Blue Team Member! :3</li>
            <li>✔ Pre-professional badminton player</li>
            <li>✔ Piano Lover! (๑•̀ㅂ•́)و✧</li>
            <li>✔ Amateur music producer. I do J-Rock, funk, neo soul, soothe piano & summer vibe!</li>
          </ul>       
          
          <p class="text-justify">I also enjoy designing frontend websites. <Link href="https://jingwu-portfolio-nextjs.vercel.app/">Old Site | Nextjs</Link> <br>
          Resources: <Link href="https://numbda.cs.tsinghua.edu.cn/~yuwj/TH-CPL.pdf">THU-CPL</Link>, 
          <Link href="https://www.ccf.org.cn/Academic_Evaluation/AI/">CCF</Link>
          </p>
        </ul>

        <div class="flex flex-col md:flex-row justify-center">
          <div class="my-10 text-center">
            <div class="bg-neutral-300 w-[350px] h-[250px] object-cover rounded-xl -rotate-6 overflow-hidden">
              <Image
                src={'/life_image.JPG'}
                alt={'life2'}
                width={350}
                height={250}
                class="w-[350px] h-[250px] object-cover rounded-xl overflow-hidden"
              />
            </div>
            <p class="mt-4 text-sm">My first Chinese New Year abroad, making various dumplings!!</p>
          </div>
          <div class="mx-10 my-10 text-center">
            <div class="bg-neutral-300 w-[150px] h-[250px] object-cover rounded-xl rotate-6 mx-auto sm:ml-auto">
              <Image
                src={'/Profile_Image.svg'}
                alt={'life2'}
                width={150}
                height={250}
                class="w-[150px] h-[250px] object-cover rounded-xl bg-white"
              />
            </div>
            <p class="mt-4 text-sm">An Anime Version of Me!</p>
          </div>
        </div>
      </div>

    </aside>
  </Container>
</Layout>
